name: Publish Firmware

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-firmware:
    name: Build Firmware
    uses: esphome/workflows/.github/workflows/build.yml@2025.10.0
    with:
      files: |
        fancontroller-rev1.0-esp32.factory.yaml
        fancontroller-rev2.0-esp32s2.factory.yaml
        fancontroller-rev3.0-esp32s2.factory.yaml
        fancontroller-rev3.1-esp32s2.factory.yaml
        fancontroller-rev3.2-esp32s2.factory.yaml
        fancontroller-rev3.3-esp32s2.factory.yaml
      esphome-version: 2026.2.2

      release-summary: ${{ github.event.release.body }}
      release-url: ${{ github.event.release.html_url }}
      release-version: ${{ github.event.release.tag_name }}

  upload-to-release:
    name: Upload to Release
    uses: esphome/workflows/.github/workflows/upload-to-gh-release.yml@2025.10.0
    needs:
      - build-firmware
    with:
      version: ${{ github.event.release.tag_name }}
